### Build outputs ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/
dist/
out/

### Gradle ###
.gradle/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Tool configurations ###
.tool-versions

### Test artifacts ###
junit*.*
**/tmp/
**/src/test/resources/tmp/*
!**/.keep

### Javadoc ###
**/doc/javadoc/

### SIARD-specific ###
*.siard
/lobs/

# ignore generated user manuals
siard-suite-app/src/main/resources/ch/admin/bar/siardsuite/doc
