# intellij project files
.idea/
*.iml
out/


# asdf configuration
.tool-versions

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# sometimes junit4 produces temporary files that we do not want to check in
/junit*.*



# ant/ legacy specific ignores below
# ignore all build directories
/build/**
/build/
target/

# ignore javadoc folder
/doc/javadoc/**
# tmp contains temporary files
/tmp/**
# dist contains the binary build results
/dist/**

