# intellij project files
.idea/
*.iml
out/

# asdf configuration
.tool-versions


# ignore all build directories
/build/**
# ignore javadoc folder
/doc/javadoc/**
# tmp contains temporary files
/tmp/**
# dist contains the binary build results
/dist/**

# sometimes junit4 produces temporary files that we do not want to check in
/junit*.*
/build/

./target


# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
