# ignore all build directories
/build/

# ignore javadoc folder
/doc/javadoc/**

# tmp contains temporary files
/tmp/**

# dist contains the binary build results
/dist/**
target/

# sometimes junit4 produces temporary files that we do not want to check in
/junit*.*

# ignore IDE and tool-specific files
.idea/
*.iml
out/
.tool-versions

# ignore Gradle project-specific cache directory
.gradle

