* {
    -fx-header-background-color: #323f4b;
    /*-fx-font-family: Roboto;*/
}

.header {
    -fx-background-color: -fx-header-background-color;
    -fx-max-height: 3em;
    -fx-pref-height: 3em;
}

.header-app-label {
    -fx-graphic: url(../icons/u10_m.png);
    -fx-max-height: 24;
    -fx-max-width: infinity;
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
    -fx-label-padding: 0 0 0 1.5em;
    -fx-graphic-text-gap: 0.8em;
}

.header-button {
    -fx-background-color: transparent;
    -fx-max-height: 24;
    -fx-content-display: graphic-only;
    -fx-padding: 0 0.5em 0 0.5em;
}

.menu-bar {
    -fx-background-color: transparent;
    -fx-padding: 0 1em 0 0;
    -fx-border-color: transparent;
}

.menu-button {
    -fx-background-image: url(../icons/baseline_menu_white_24dp.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-position: left center;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-start-margin: -5em;
}

.context-menu {
    -fx-padding: .4em 0 0 0 ;
    -fx-start-margin: -5em;
    -fx-background-color: -fx-header-background-color;

}

.menu-item {
    -fx-padding: 5 20 5 20;
    -fx-background-color: white;
    -fx-border-color: transparent transparent #c5c4c4 transparent; /* dirty hack to prevent elements moving around without border*/
    -fx-border-width: 0.1em;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: #c5c4c4;
    -fx-border-color: #b0afaf;
    -fx-border-width: 1 1 1 1;
}

.menu-item .label {
    -fx-text-fill: #000000;
}

.help-icon {
    -fx-graphic: url(../icons/baseline_help_outline_white_24dp.png);
}

.help-icon:hover {
    -fx-graphic: url(../icons/baseline_help_black_24dp.png);
}

.container {
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}


/*Dialog*/



.dialog-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.dialog-text {
 -fx-wrap-text: break-word;
}

/*Stepper*/
.mfx-stepper {


}

.mfx-stepper .content-pane {
    -fx-background-color: #ffffff;
}

.mfx-stepper .track {
    -mfx-bar-background: grey;

}

.mfx-stepper .bar {
    -mfx-progress-color: grey;
}

.stepper-btn {
    -fx-background-size: 22px;
    -fx-alignment: center;
    -fx-min-width: 22px;
    -fx-min-height: 22px;
}

.number-btn {
    -fx-shape: "M 159 96  C 165.16 96  170 100.84  170 107  C 170 113.16  165.16 118  159 118  C 152.84 118  148 113.16  148 107  C 148 100.84  152.84 96  159 96  Z ";
    -fx-background-color: #9aa5b1;
    -fx-text-fill: #000000 ;
    -fx-font-size: 10px;
}

.number-btn:disabled {
    -fx-opacity: 0.7;
}

.valid-btn {
    -fx-content-display: graphic-only;
    -fx-background-color: transparent;
    -fx-max-height: 24;
    -fx-padding: 0 0.5em 0 0.5em;
    -fx-graphic: url(../icons/bubble_checked.png);
}
