
@font-face {
    font-family: 'Roboto Medium';
    font-weight: 500px;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

* {
    -fx-header-background-color: #323f4b;
    -fx-my-font-family: 'Roboto Regular';
}

.h2 {
    -fx-font-weight: bold;
    -fx-font-size: 22.0;
    -fx-font-family: "Roboto Medium";
}

.h3 {
    -fx-font-weight: bold;
    -fx-font-size: 18.0;
    -fx-font-family: "Roboto Medium";
}

/* Header */
.header {
    -fx-background-color: -fx-header-background-color;
    -fx-max-height: 3em;
    -fx-pref-height: 3em;
}

.header-app-label {
    -fx-graphic: url(../icons/logo.png);
    -fx-max-height: 24;
    -fx-max-width: infinity;
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
    -fx-label-padding: 0 0 0 1.5em;
    -fx-graphic-text-gap: 0.8em;
}

.header-button {
    -fx-background-color: transparent;
    -fx-max-height: 24;
    -fx-content-display: graphic-only;
    -fx-padding: 0 0.5em 0 0.5em;
}

.menu-bar {
    -fx-background-color: transparent;
    -fx-padding: 0 1em 0 0;
    -fx-border-color: transparent;
}

.menu-button {
    -fx-background-image: url(../icons/baseline_menu_white_24dp.png);
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-position: left center;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-start-margin: -5em;
}

.context-menu {
    -fx-padding: .4em 0 0 0 ;
    -fx-start-margin: -5em;
    -fx-background-color: -fx-header-background-color;

}

.menu-item {
    -fx-padding: 5 20 5 20;
    -fx-background-color: white;
    -fx-border-color: transparent transparent #c5c4c4 transparent; /* dirty hack to prevent elements moving around without border*/
    -fx-border-width: 0.1em;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: #c5c4c4;
    -fx-border-color: #b0afaf;
    -fx-border-width: 1 1 1 1;
}

.menu-item .label {
    -fx-text-fill: #000000;
}

.help-icon {
    -fx-graphic: url(../icons/baseline_help_outline_white_24dp.png);
}

.help-icon:hover {
    -fx-graphic: url(../icons/baseline_help_black_24dp.png);
}

.container {
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}

/*Stepper*/
.mfx-stepper {
    -fx-background-color: white;
    -mfx-base-color: #e4e7eb;
    -mfx-spacing: 40.0;
    -mfx-extra-spacing: 0;
    -mfx-alignment: BASELINE_LEFT;
}

.stepper-bar {
    -fx-background-color: #e4e7eb;
}

.mfx-stepper .content-pane {
    -fx-background-color: #ffffff;
}

.mfx-stepper .track {
    -mfx-bar-background: #9aa5b1;
}

.mfx-stepper .bar {
    -mfx-progress-color: #9aa5b1;
}

.mfx-stepper-toggle,
.custom-stepper-toggle {
    -fx-padding: 0 0.5em 0 0.5em;
    -fx-background-color: #e4e7eb;
    -fx-pref-height: 52;
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: #000000 ;
    -mfx-label-text-gap: 12.0;
}

.stepper-btn {
    -fx-background-size: 22px;
    -fx-alignment: center;
    -fx-min-width: 22px;
    -fx-min-height: 22px;
}

.number-btn {
    -fx-shape: "M 159 96  C 165.16 96  170 100.84  170 107  C 170 113.16  165.16 118  159 118  C 152.84 118  148 113.16  148 107  C 148 100.84  152.84 96  159 96  Z ";
    -fx-background-color: #9aa5b1;
    -fx-text-fill: #000000 ;
    -fx-font-size: 11px;
    -fx-opacity: 0.5;
    -fx-font-family: "Roboto Medium";
    -fx-font-weight: 500;
}

.mfx-stepper-toggle:completed .number-btn {
    -fx-content-display: graphic-only;
    -fx-background-color: transparent;
    -fx-opacity: 1;
    -fx-max-height: 22;
    -fx-graphic: url(../icons/bubble_checked.png);
}

.mfx-stepper-toggle .mfx-text-field,
.custom-stepper-toggle .mfx-text-field {
    -fx-padding: 0 0 0 0;
    -fx-background-color: #e4e7eb;
    -mfx-float-mode: disabled;
}

.mfx-text-field,
.mfx-text-field .text-field,
.custom-stepper-toggle .mfx-text-field .text-field {
    -fx-text-fill: #000000;
    -fx-opacity: 0.7;
    -fx-font-width: 500;
    -fx-alignment: BASELINE_CENTER;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 16px;
    -fx-border-color: transparent;
}

.mfx-stepper-toggle:selected .number-btn,
.mfx-stepper-toggle:selected .mfx-text-field,
.custom-stepper-toggle:selected .mfx-text-field,
.mfx-stepper-toggle:completed .mfx-text-field,
.custom-stepper-toggle:completed .mfx-text-field {
    -fx-opacity: 1;
    -fx-text-fill: #000000 ;
}

.mfx-stepper .btn-box {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 25 50 25 50;
    -fx-background-color: white;
    -fx-border-color: #e4e7eb;
    -fx-border-width: 2 0 0 0 ;
}

.mfx-stepper .btn-box .button {
    -fx-min-width: 148px;
    -fx-min-height: 42px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-family: -fx-my-font-family;
    -fx-font-size: 14px;
}

.primary {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-text-fill: white;
}

.secondary {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-text-fill: black;
}

/*Button*/

.mfx-button {
    -mfx-button-type: FLAT;
}

.mfx-button .mfx-ripple-generator {
    -mfx-ripple-radius: 5.0;
}

/*Dialog*/

.dialog {
    -fx-background-color: WHITE;
    -fx-font-family: -fx-my-font-family;
    -fx-padding: 25 25 25 25;
}

.dialog .btn-box {
    -fx-alignment: CENTER_LEFT;
}

.dialog .button {
    -fx-min-width: 148px;
    -fx-min-height: 42px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-size: 14px;
}

.dialog-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.dialog-text {
    -fx-wrap-text: break-word;
    -fx-font-size: 14px;
    -fx-line-spacing: 8.0;
}

/* Views */

.view-text {
    -fx-font-family: -fx-my-font-family;
    -fx-font-size: 14.0;
    -fx-fill: #52606D;
}

.bold {
    -fx-font-weight: bold;
}

.error-text {
    -fx-font-family: -fx-my-font-family;
    -fx-font-size: 12.0;
    -fx-text-fill: #D9001B;
}

.radio-button {
    -fx-font-family: -fx-my-font-family;
    -fx-font-size: 16.0;
}

.radio-button .dot {
    -fx-fill: #1F2933;
}

.radio-button:selected .radio {
	-fx-stroke: #1F2933;
}

.label-icon {
    -fx-max-height: 24;
    -fx-max-width: infinity;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 1.2em;
    -fx-content-display: RIGHT;
}

.server-icon {
    -fx-graphic: url(../icons/server.png);
}

.user-icon {
    -fx-graphic: url(../icons/user.png);
}
