
@font-face {
    font-family: 'Roboto Medium';
    font-weight: 500px;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

* {
    -fx-header-background-color: #323f4b;
    siard-font-family: 'Roboto Regular';
    siard-text-color: #52606D;
}

.root {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.root-center {
    -fx-background-color: #f5f7fa;
}


.h2 {
    -fx-font-weight: bold;
    -fx-font-size: 22.0;
    -fx-font-family: "Roboto Medium";
}

.h3 {
    -fx-font-weight: bold;
    -fx-font-size: 18.0;
    -fx-font-family: "Roboto Medium";
}

.h4 {
    -fx-font-weight: bold;
    -fx-font-size: 14.0;
    -fx-font-family: "Roboto Medium";
}

/* Header */
.header {
    -fx-background-color: -fx-header-background-color;
    -fx-max-height: 40.0;
    -fx-pref-height: 40.0;
    -fx-spacing: 10.0;
}

.header-app-label {
    -fx-graphic: url(../icons/logo.png);
    -fx-max-height: 24;
    -fx-max-width: infinity;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-label-padding: 0 0 0 1.5em;
    -fx-graphic-text-gap: 0.8em;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-max-height: 24;
    -fx-content-display: graphic-only;
    -fx-padding: 0 0.5em 0 0.5em;
    -fx-cursor: HAND;
}

.menu-bar {
    -fx-background-color: transparent;
    -fx-padding: 0 1em 0 0;
    -fx-border-color: transparent;
    -fx-cursor: HAND;
    -fx-background-image: url(../icons/baseline_menu_white_24dp.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-focus-color: transparent;
}

/* menu container */
.menu-bar .container {
    -fx-translate-x: -100;
    -fx-focus-color: transparent;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-start-margin: -5em;
}

/* background container of menu*/
.context-menu {
    -fx-padding: .4em 0 0 0;
    -fx-start-margin: -5em;
    -fx-background-color: -fx-header-background-color;
}

.sub-menu .context-menu {
    -fx-padding: 0 0 0 0;
}

.menu-item {
    -fx-padding: 5 20 5 20;
    -fx-background-color: white;
    -fx-border-color: transparent transparent #c5c4c4 transparent; /* dirty hack to prevent elements moving around without border*/
    -fx-border-width: 0.1em;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: #c5c4c4;
    -fx-border-color: #b0afaf;
    -fx-border-width: 1 1 1 1;
}

.menu-item .label {
    -fx-text-fill: black;
}

.sub-menu {

}

.help-icon {
    -fx-graphic: url(../icons/baseline_help_outline_white_24dp.png);
}

.help-icon:hover {
    -fx-graphic: url(../icons/baseline_help_black_24dp.png);
}

.container {
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}

/*Stepper*/
.mfx-stepper {
    -fx-background-color: white;
    -mfx-base-color: #e4e7eb;
    -mfx-spacing: 40.0;
    -mfx-extra-spacing: 0;
    -mfx-alignment: BASELINE_LEFT;
}

.stepper-bar {
    -fx-background-color: #e4e7eb;
}

.mfx-stepper .content-pane {
    -fx-background-color: white;
}

.mfx-stepper .track {
    -mfx-bar-background: #9aa5b1;
}

.mfx-stepper .bar {
    -mfx-progress-color: #9aa5b1;
}

.mfx-stepper-toggle,
.custom-stepper-toggle {
    -fx-padding: 0 0.5em 0 0.5em;
    -fx-background-color: #e4e7eb;
    -fx-pref-height: 52;
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: black;
    -mfx-label-text-gap: 12.0;
}

.stepper-btn {
    -fx-background-size: 22px;
    -fx-alignment: center;
    -fx-min-width: 22px;
    -fx-min-height: 22px;
}

.number-btn {
    -fx-shape: "M 159 96  C 165.16 96  170 100.84  170 107  C 170 113.16  165.16 118  159 118  C 152.84 118  148 113.16  148 107  C 148 100.84  152.84 96  159 96  Z ";
    -fx-background-color: #9aa5b1;
    -fx-text-fill: black;
    -fx-font-size: 11px;
    -fx-opacity: 0.5;
    -fx-font-family: "Roboto Medium";
    -fx-font-weight: 500;
}

.mfx-stepper-toggle:completed .number-btn {
    -fx-content-display: graphic-only;
    -fx-background-color: transparent;
    -fx-opacity: 1;
    -fx-max-height: 22;
    -fx-graphic: url(../icons/bubble_checked.png);
}

.mfx-stepper-toggle .mfx-text-field,
.custom-stepper-toggle .mfx-text-field {
    -fx-padding: 0 0 0 0;
    -fx-background-color: #e4e7eb;
    -mfx-float-mode: disabled;
}

.mfx-stepper-toggle .mfx-text-field,
.mfx-stepper-toggle .mfx-text-field .text-field,
.custom-stepper-toggle .mfx-text-field .text-field {
    -fx-text-fill: black;
    -fx-opacity: 0.7;
    -fx-font-width: 500;
    -fx-alignment: BASELINE_CENTER;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 16px;
    -fx-border-color: transparent;
}

.mfx-stepper-toggle:selected .number-btn,
.mfx-stepper-toggle:selected .mfx-text-field,
.custom-stepper-toggle:selected .mfx-text-field,
.mfx-stepper-toggle:completed .mfx-text-field,
.custom-stepper-toggle:completed .mfx-text-field {
    -fx-opacity: 1;
    -fx-text-fill: black;
}

.mfx-stepper .btn-box {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 25 50 25 50;
    -fx-background-color: white;
    -fx-border-color: #e4e7eb;
    -fx-border-width: 2 0 0 0;
}
.button,
.mfx-stepper .btn-box .button {
    -fx-min-width: 148px;
    -fx-min-height: 42px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-family: siard-font-family;
    -fx-font-size: 14px;
}

.primary {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-text-fill: white;
}

.secondary {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-text-fill: black;
}

/*Button*/

.mfx-button {
    -mfx-button-type: FLAT;
}

.mfx-button .mfx-ripple-generator {
    -mfx-ripple-radius: 5.0;
}

/*Dialog*/

.dialog {
    -fx-background-color: WHITE;
    -fx-font-family: siard-font-family;
    -fx-padding: 25 25 25 25;
}

.dialog .btn-box {
    -fx-alignment: CENTER_LEFT;
}

.dialog .button {
    -fx-min-width: 148px;
    -fx-min-height: 42px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-size: 14px;
}

.dialog-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-max-width: infinity;
}

.dialog-close-button {
    -fx-font-weight: bold;
    -fx-cursor: HAND;
}

.dialog-text {
    -fx-wrap-text: break-word;
    -fx-font-size: 14px;
    -fx-line-spacing: 8.0;
    -fx-fill: #111111b5;
}

/* Views */

.view-text {
    -fx-font-family: siard-font-family;
    -fx-font-size: 14.0;
    -fx-fill: siard-text-color;
}

.bold {
    -fx-font-weight: bold;
}

.error-text {
    -fx-font-family: siard-font-family;
    -fx-font-size: 12.0;
    -fx-text-fill: #D9001B;
}

.radio-button {
    -fx-font-family: siard-font-family;
    -fx-font-size: 16.0;
}

.radio-button .dot {
    -fx-fill: #1F2933;
}

.radio-button:selected .radio {
    -fx-stroke: #1F2933;
}

.label-icon {
    -fx-max-height: 24;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 1.2em;
    -fx-content-display: RIGHT;
}

.label-icon-left {
    -fx-content-display: LEFT;
}

.server-icon {
    -fx-graphic: url(../icons/server.png);
}

.user-icon {
    -fx-graphic: url(../icons/user.png);
}

.info-icon {
    -fx-graphic: url(../icons/info.png);
}

.loading-icon {
    -fx-graphic: url(../icons/loading.png);
}

.search-icon {
    -fx-graphic: url(../icons/search.png);
}

.form-container {
    -fx-background-color: #f5f7fa;
    -fx-font-family: siard-font-family;
    -fx-font-size: 14.0;
}

.form-container-white {
    -fx-background-color: white;
}

.form-field {
    -fx-padding: 2 2 2 -2;
    -mfx-float-mode: ABOVE;
    -fx-max-height: 48;
    -fx-min-height: 48;
    -fx-border-color: #b0afaf;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-text-fill: black;
}

.form-container .mfx-text-field .text-field {
    /*-fx-highlight-fill: #ECE0FD; !* Selected text highlight *!*/
    -fx-prompt-text-fill: #9aa5b1; /* Prompt text color */
    -fx-padding: 0 0 0 17;
}

.form-container .mfx-text-field .floating-text {
    -fx-padding: 0 0 8 -12;
    -fx-text-fill: siard-text-color;
    -fx-background-color: transparent;
}

.form-container .mfx-text-field:focus-within {
    -fx-background-insets: 0;
    -fx-border-color: #b0afaf;
    -fx-border-width: 1;
    -fx-border-insets: 0;
}

.form-container .toggle-button {
    -mfx-gap: 15.0;
    -fx-padding: 0 0 0 -1;
}

.mfx-toggle-button {
    -mfx-main: siard-text-color;
    -mfx-secondary: #9aa5b1;
    -fx-background-color: transparent;
    -fx-text-fill: siard-text-color;
}

.form-container .info-tooltip {
    -fx-background-image: url(../icons/tooltip_banner.png);
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background: rgba(0, 0, 0, 0);
    -fx-fill: transparent;
    -fx-text-fill: black;
    -fx-alignment: top-center;
    -fx-text-alignment: center;
    -fx-font-size: 13;
    -fx-padding: 2.5em 0 0 0;
}

.scroll-box,
.scroll-box .label {
    -fx-background-color: transparent;
    -fx-background: rgba(0, 0, 0, 0);
    -fx-text-fill: siard-text-color;
    -fx-fill: siard-text-color;
    -fx-font-family: siard-font-family;
    -fx-font-size: 14px;
}

/* Tree view*/

.tree-view {
    -fx-background-color: white;
    -fx-border-color: #e4e7eb;
}

.tree-view .tree-cell {
    -fx-text-fill: black;
    -fx-font-size: 14;
}

.tree-view .tree-cell:selected {
    -fx-font-weight: bold;
    -fx-background-color: white;
}

.tree-view .tree-cell:hover {
    -fx-cursor: HAND;
}

.tree-view .tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: #1f2933;
}

/* Table stuff */

.table-container {
    -fx-background-color: #f5f7fa;
}

.table-container-header {
    -fx-padding: 25 25 20 25;
    -fx-border-color: #e4e7eb;
    -fx-border-width: 0 0 2 0;
}

.icon-text-button {
    -fx-background-color: transparent;
    -fx-max-height: 18;
    -fx-padding: 0 10 0 32;
    -fx-cursor: HAND;
    -fx-content-display: LEFT;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 1.2em;
    -fx-text-fill: black;
    -fx-font-size: 14;
}

.table-container-title {
    -fx-max-width: infinity;
    -fx-padding: 0 0 50 0;
}

.table-container-label {
    -fx-font-size: 12;
    -fx-text-fill: siard-text-color;
    -fx-max-width: infinity;
}

.table-container-text {
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-label-padding: 6 0 14 0;
    -fx-max-width: infinity;
}

.table-container-label-small {
    -fx-font-size: 12;
    -fx-text-fill: black;
    -fx-max-width: infinity;
    -fx-text-alignment: LEFT;
    -fx-label-padding: 6 0 6 0;
    -fx-alignment: CENTER_LEFT;
}

.table-container-text-small{
    -fx-font-size: 12;
    -fx-text-fill: black;
    -fx-label-padding: 6 0 6 0;
    -fx-max-width: infinity;
}

.tree-table-view .column-header-background{
    -fx-background-color: #e4e7eb;
    -fx-padding: 5 0 5 0;

}

.tree-table-view .column-header {
    -fx-background-color: transparent;
}

.tree-table-view .column-header .label {
    -fx-font-size: 10;
    -fx-alignment: center_left;
}

.tree-table-view .column-header .cell {
    -fx-cell-size: 30;
    -fx-padding: 0 5 0 5;
}

.tree-table-view .cell {
    -fx-font-size: 10;
    -fx-cell-size: 30;
    -fx-padding: 0 10 0 10;
}

/* Select/Drop Files */

.files-vbox-header-name {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-max-width: infinity;
}

.files-vbox-header-date {
    -fx-font-size: 10;
    -fx-alignment: center-right;
}

.files-vbox-list {
    -fx-pref-width: 330.0;
}

.files-vbox-list .file-hbox {
    -fx-border-color: #d3d3d3;
    -fx-border-width: 2 2 2 2;
    -fx-padding: 5 10 5 10;
}

.files-vbox-list .file-hbox:hover {
    -fx-background-color: #eceaea82;
}

.files-vbox-list .file-hbox .icon-label {
    -fx-graphic: url(../icons/file.png);
    -fx-pref-width: 40.0;
    -fx-pref-height: 40.0;
}

.files-vbox-list .file-hbox .name-label {
    -fx-pref-width: 260.0;
    -fx-pref-height: 40.0;
    -fx-font-size: 15;
    -fx-alignment: center-left;
}

.files-vbox-list .file-hbox .date-label {
    -fx-pref-width: 110.0;
    -fx-pref-height: 40.0;
    -fx-alignment: center-right;
    -fx-text-fill: #1a1a1aa8;
}

.files-vbox-drop {
    -fx-padding: 20 20 20 20;
    -fx-border-style: dashed;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #d3d3d3;
    -fx-alignment: center;
}

.files-vbox-drop .button:hover {
    -fx-background-color: #0e0e0e82;
}

.bg-green {
    -fx-background-color: rgba(27, 204, 150, 1);

}
/* Select Connections */

.connections-vbox-header-name {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-max-width: infinity;
}

.connections-vbox-header-date {
    -fx-font-size: 10;
    -fx-alignment: center-right;
}

.connections-vbox-list {
    -fx-pref-width: 330.0;
}

.connections-vbox-list .connections-hbox {
    -fx-border-color: #d3d3d3;
    -fx-border-width: 2 2 2 2;
    -fx-padding: 5 10 5 10;
}

.connections-vbox-list .connections-hbox:hover {
    -fx-background-color: #eceaea82;
}

.connections-vbox-list .connections-hbox .icon-label {
    -fx-graphic: url(../icons/file.png);
    -fx-pref-width: 40.0;
    -fx-pref-height: 40.0;
}

.connections-vbox-list .connections-hbox .name-label {
    -fx-pref-width: 260.0;
    -fx-pref-height: 40.0;
    -fx-font-size: 15;
    -fx-alignment: center-left;
}

.connections-vbox-list .connections-hbox .date-label {
    -fx-pref-width: 110.0;
    -fx-pref-height: 40.0;
    -fx-alignment: center-right;
    -fx-text-fill: #1a1a1aa8;
}

.text-white {
    -fx-text-fill: white;
}

.text-center {
    -fx-text-alignment: center;
}